:root {
  --color-background: hsla(204, 43%, 93%, 1);
  --color-dark-teal: hsla(179, 62%, 43%, 1);
  --color-green: hsla(71, 73%, 54%, 1);
  --color-grey: hsla(218, 22%, 67%, 1);
  --color-light-teal: hsla(179, 48%, 52%, 1);
  --color-stroke: hsla(0, 0%, 59%, 1);
  --color-white: hsla(0, 0%, 100%, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  align-items: center;
  background-color: var(--color-background);
  display: flex;
  font-family: 'Karla', sans-serif;
  justify-content: center;
  min-height: 100vh;
}

h1,
h2,
p {
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 31.1rem;
  grid-template-rows: 26.75rem 22.75rem 22.7rem;
}

.card {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  padding: 2.8rem 2.4rem 2.4rem 2.4rem;
}

.card--white {
  background-color: var(--color-white);
}

.card--dark-teal {
  background-color: var(--color-dark-teal);
}

.card--light-teal {
  background-color: var(--color-light-teal);
}

.card__heading {
  color: var(--color-dark-teal);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.25px;
  margin-bottom: 2.4rem;
}

.card__heading--white {
  color: var(--color-white);
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
}

.card__text--green {
  color: var(--color-green);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.19px;
  line-height: 20px;
  margin-bottom: 1.6rem;
}

.card__text--grey {
  color: var(--color-grey);
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: -0.17px;
  line-height: 26px;
}

.card__text--white {
  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: -0.17px;
  line-height: 20px;
  opacity: 75%;
}

.card__text__wrapper {
  align-items: flex-end;
  display: flex;
  margin-bottom: 0.4rem;
}

.card__text--number {
  color: var(--color-white);
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-right: 1.1rem;
}

.card__text--month {
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 26px;
  opacity: 50%;
}

.card__text--access {
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 26px;
  margin-bottom: 2.6rem;
}

.card__button {
  background-color: var(--color-green);
  border-radius: 5px;
  border: none;
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 700;
  height: 48px;
  letter-spacing: -0.2px;
  outline: none;
  width: 263px;
  box-shadow: 0 3px 25px 1px var(--color-stroke);
  cursor: pointer;
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    grid-template-columns: 31.7rem 31.8rem;
    grid-template-rows: 21.6rem 25.9rem;
  }

  .card {
    padding: 4rem;
  }

  .card--white {
    grid-column: 1 / 3;
  }

  .card__heading {
    font-size: 2.4rem;
    letter-spacing: -0.3px;
    margin-bottom: 2.4rem;
  }

  .card__heading--white {
    font-size: 1.8rem;
    letter-spacing: -0.22px;
  }

  .card__button {
    width: 237px;
  }

  .card__text--green {
    font-size: 1.8rem;
    letter-spacing: -0.22px;
    line-height: auto;
    margin-bottom: 1.1rem;
  }

  .card__text--grey {
    font-size: 1.6rem;
    letter-spacing: -0.2px;
  }
}
